body{
    overflow: scroll;
    background-image: url(/botlive.github.io/img/bak.png);
    padding: 5px;
    background-size: cover;
    margin: -5px;
}
h1{
    
    font-family: sketch;
    font-size:90px;
    padding: 10px;
/*     word-wrap: break-word; */
    color: azure;
}
#hl{
    height: 600px;
    width:320px;
    border-radius: 10px;
    z-index: 1;
    top:10px;
    position: absolute;
}
iframe{
    height:100%;
    width:320px;
    border-radius: 10px;
    position: absolute;
    border: 0;
    box-shadow: 2px 2px 2px black;
}
#clo{
    z-index: 2;
    left: 95%;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    color: white;
    background-color: red;
    border: 0;
    box-shadow: 2px 2px 2px black;

}
#opn{
    height:50px;
    width:120px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px white;
    position: absolute;
    right: 5%;
    top: 90%;
    background-image: url('/botlive.github.io/img/robot.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    background-color: aquamarine;
    border: 0;
}
 #opn:before{
/*     background-image: url('/botlive.github.io/img/robot.png'); */
     content: "click it>>";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
} 

/* <a href="https://www.flaticon.com/free-icons/bot" title="bot icons">Bot icons created by Smashicons - Flaticon</a> */
